<%- include('../partials/adminLoginHeader.ejs')%>

    <style>
        .error {
            color: red;
            font-size: 14px;
        }
    </style>

    <div class="container col-lg-4">

        <div class="card-header text-center"><img class="logo-img" src="/img/logo.png" alt="logo"></a></div>

        <div class="card card-body col-lg-12 pt-2">

            <h2>Reset Password</h2><br>
            <% if (message.length> 0) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%- message %>
                </div>
                <% } %>


                    <form action="/admin/forgetPassword" method="post" class="form" id="form" novalidate>

                        <div class="row form-group mb-2">
                            <label for="email" class="col-3 col-lg-4 pl-4 col-form-label">Email:</label>
                            <div class="col-lg-8 pr-4">
                                <input type="email" id="email" class="form-control" placeholder="Email" name="email"
                                    required>
                            </div>
                        </div> <span class="error" id="email_error"></span>


                        <div class="row pt-2 justify-content-center">

                            <div class=" form-group pb-2 pt-2">
                                <button type="submit" class="submit btn btn-dark">Reset
                                    Password</button>
                            </div>

                        </div>
                    </form>
        </div>
    </div>

    </div>
    <script>

        const email = document.getElementById('email');

        const form = document.getElementById('form');

        const email_error = document.getElementById('email_error');

        form.addEventListener('submit', (e) => {

            var email_check = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

            if (email.value === '' || email.value == null) {
                e.preventDefault();
                email_error.innerHTML = "Email is required";
            }

            else {
                email_error.innerHTML = "";
            }
            if (!email.value.match(email_check)) {
                e.preventDefault();
                email_error.innerHTML = "Please enter valid email";
            }
            else {
                email_error.innerHTML = "";
            }

        })
    </script>

    <%- include('../partials/plugins.ejs') %>