<%- include('../partials/adminLoginHeader.ejs')%>
<style>
  .error {
    color: red;
    font-size: 14px;
  }

  .transparent-card {
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>
<div class="container">
  <div class="card card-body col-lg-7 pt-2">
    <h2>Reset Password</h2>
    <br />
    <% if (message && message.length> 0) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= message %>
    </div>
    <% } %>

    <form
      action="/admin/reset-password"
      method="post"
      class="form"
      id="form"
      novalidate
    >
      <div class="row form-group mb-2">
        <label for="password" class="col-3 col-lg-4 col-form-label pl-4"
          >New Password:</label
        >
        <div class="col-9 col-lg-8 pr-4">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            id="password"
            name="password"
            required
          />
        </div>
      </div>
      <span class="error" id="password_error"></span>

      <div class="row form-group mb-2">
        <label for="confirmPassword" class="col-3 col-lg-4 col-form-label pl-4"
          >Confirm Password:</label
        >
        <div class="col-9 col-lg-8 pr-4">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
      </div>
      <span class="error" id="confirmPassword_error"></span><br />

      <input type="hidden" name="token" value="<%= token %>" />
      <div class="form-group text-center pb-2 pt-2">
        <button type="submit" class="submit btn btn-dark">Proceed</button>
      </div>
    </form>
  </div>
</div>
<script>
  const password = document.getElementById("password");
  const confirmPassword = document.getElementById("confirmPassword");

  const form = document.getElementById("form");

  const password_error = document.getElementById("password_error");
  const confirmPassword_error = document.getElementById(
    "confirmPassword_error"
  );

  form.addEventListener("submit", (e) => {
    let isValid = true;

    // Reset errors
    password_error.innerHTML = "";
    confirmPassword_error.innerHTML = "";

    // Password validation
    if (password.value.length < 8) {
      e.preventDefault();
      password_error.innerHTML +=
        "Password must be at least 8 characters long.<br>";
      isValid = false;
    }
    if (!/[A-Z]/.test(password.value)) {
      e.preventDefault();
      password_error.innerHTML +=
        "Password must include at least one uppercase letter.<br>";
      isValid = false;
    }
    if (!/[a-z]/.test(password.value)) {
      e.preventDefault();
      password_error.innerHTML +=
        "Password must include at least one lowercase letter.<br>";
      isValid = false;
    }
    if (!/\d/.test(password.value)) {
      e.preventDefault();
      password_error.innerHTML +=
        "Password must include at least one number.<br>";
      isValid = false;
    }
    if (!/[!@#$%^&*(),.?":{}|<>]/.test(password.value)) {
      e.preventDefault();
      password_error.innerHTML +=
        "Password must include at least one special character.<br>";
      isValid = false;
    }

    // Confirm password validation
    if (confirmPassword.value === "" || confirmPassword.value == null) {
      e.preventDefault();
      confirmPassword_error.innerHTML = "Confirmation password is required";
      isValid = false;
    } else if (password.value !== confirmPassword.value) {
      e.preventDefault();
      confirmPassword_error.innerHTML = "Passwords do not match";
      isValid = false;
    }

    if (!isValid) {
      e.preventDefault();
    }
  });
</script>
<%- include('../partials/plugins.ejs')%>
