<%- include('../partials/head.ejs')%>
    <style>
        .error {
            color: red;
            font-size: 14px;
        }

        .transparent-card {
            background-color: rgba(255, 255, 255, 0.8);
            /* Adjust the last value for opacity (0-1) */

        }
    </style>
    <section class="hero">
        <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg" style="width: 100% ;height: 100vh;">
            <div class=" container">


                <div class="card transparent-card card-body col-lg-7 pt-2">
                    <h2>Reset Password</h2>
                    <br>
                    <% if (message.length> 0) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%- message %>
                        </div>
                        <% } %>

                            <form action="/reset-password" method="post" class="form" id="form" novalidate>

                                <div class="row form-group mb-2 ">
                                    <label for="password" class="col-3 col-lg-4 col-form-label pl-4">New
                                        Password:</label>
                                    <div class="col-9 col-lg-8 pr-4">
                                        <input type="password" class="form-control" placeholder="Password" id="password"
                                            name="password" required>
                                    </div>
                                </div> <span class="error" id="password_error"></span>

                                <div class="row form-group mb-2">
                                    <label for="confirmPassword" class="col-3 col-lg-4 col-form-label  pl-4">Confirm
                                        Password:</label>

                                    <div class="col-9 col-lg-8 pr-4">
                                        <input type="password" class="form-control" placeholder="Confirm password"
                                            id="confirmPassword" name="confirmPassword" required>
                                    </div>
                                </div> <span class="error" id="confirmPassword_error"></span><br>


                                <div class="form-group text-center pb-2 pt-2">
                                    <button type="submit" class="submit btn btn-dark">Proceed</button>
                                </div>

                            </form>
                </div>
            </div>
        </div>
        <script>
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('confirmPassword');

            const form = document.getElementById('form');

            const password_error = document.getElementById('password_error');
            const confirmPassword_error = document.getElementById('confirmPassword_error');

            form.addEventListener('submit', (e) => {

                if (password.value === '' || password.value == null) {
                    e.preventDefault();
                    password_error.innerHTML = "Password is required"
                }
                else {
                    password_error.innerHTML = "";

                }
                if (password.value.length <= 5) {
                    e.preventDefault();
                    password_error.innerHTML = "Password must be more than 6 characters";
                } else {
                    password_error.innerHTML = "";
                } if (password.value.length >= 20) {
                    e.preventDefault();
                    password_error.innerHTML = "Password cannot be more than 20 characters";
                }

                if (password.value === 'password') {
                    e.preventDefault();
                    password_error.innerHTML = "Password cannot be password";
                }

                if (confirmPassword.value === '' || confirmPassword.value == null) {
                    e.preventDefault();
                    confirmPassword_error.innerHTML = "Confirmation password is required"
                }
                else {
                    confirmPassword_error.innerHTML = "";

                }

                if (password.value !== confirmPassword.value) {
                    e.preventDefault();
                    confirmPassword_error.innerHTML = "Password do not match";
                }

            })
        </script>
    </section>
    <%- include('../partials/plugins.ejs')%>